@import "src/ui/colors";
@import "src/ui/variables";

.layout {
  min-height: 100vh;
}

.sider {
  height: 100vh;
}

.logo {
  padding: $spacing-xlarge $spacing-xxlarge;
  width: 100%;

  :global(.ant-layout-sider-collapsed) & {
    display: none;
  }
}

.logoSmall {
  display: none;
  width: 100%;

  :global(.ant-layout-sider-collapsed) & {
    display: block;
    padding: $spacing-xlarge;
  }
}

.header {
  align-items: center;
  background: $white;
  display: flex;
  padding: $spacing-xxlarge;
}

.pageTitle:global(.ant-typography) {
  font-size: $font-size-xxxlarge;
  letter-spacing: $spacing-xsmall;
  margin-bottom: 0;
  text-transform: uppercase;
}

.content {
  padding: $spacing-xxlarge;

  & > *:not(:first-child) {
    margin-top: $spacing-xlarge;
  }
}
