@font-face {
  font-family: "NeuzeitGrotesk";
  src: url("NeuzeitGroteskW01-Regular.eot");
  src: url("NeuzeitGroteskW01-Regular.eot?#iefix") format("embedded-opentype"),
    url("NeuzeitGroteskW01-Regular.svg#NeuzeitGroteskW01-Regular") format("svg"),
    url("NeuzeitGroteskW01-Regular.ttf") format("truetype"),
    url("NeuzeitGroteskW01-Regular.woff") format("woff"),
    url("NeuzeitGroteskW01-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeuzeitGrotesk";
  src: url("NeuzeitGroteskCondW01-Black.eot");
  src: url("NeuzeitGroteskCondW01-Black.eot?#iefix") format("embedded-opentype"),
    url("NeuzeitGroteskCondW01-Black.svg#NeuzeitGroteskCondW01-Black")
      format("svg"),
    url("NeuzeitGroteskCondW01-Black.ttf") format("truetype"),
    url("NeuzeitGroteskCondW01-Black.woff") format("woff"),
    url("NeuzeitGroteskCondW01-Black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NeuzeitGrotesk";
  src: url("DINNeuzeitGroteskStd-Light.eot");
  src: url("DINNeuzeitGroteskStd-Light.eot?#iefix") format("embedded-opentype"),
    url("DINNeuzeitGroteskStd-Light.svg#DINNeuzeitGroteskStd-Light")
      format("svg"),
    url("DINNeuzeitGroteskStd-Light.ttf") format("truetype"),
    url("DINNeuzeitGroteskStd-Light.woff") format("woff"),
    url("DINNeuzeitGroteskStd-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
