@import "src/ui/colors";
@import "src/ui/variables";

.modal {
  max-width: 1200px;
  width: 80% !important; // Necessary in order to override Ant Design inline styles
}

.row {
  border-bottom: 1px solid $neutral-grey;
  padding-bottom: $spacing-small;

  &:not(:first-child) {
    margin-top: $spacing-medium;
  }
}

.testDetails {
  margin-top: $spacing-large;

  @media screen and (min-width: $screen-lg) {
    margin-top: 0;
  }
}

.card {
  background-color: $neutral-grey;
}

.image {
  margin-top: $spacing-medium;
}

.text {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}
